<div class="content who" ng-show="about.selected === 0">

    <div>
      <div class="text-container odd">
        <h2 class="mt40 pt40 text-center">{{whoWeAre[0].title}}</h2>
        <div class="row center-margin">
          <div class="display-inline text-center content-text">
            <p>
              {{whoWeAre[0].text}}
            </p>
          </div>
          <div class="display-inline text-center">
            <img  ng-src="images/{{whoWeAre[0].img}}" alt="happy-face" />
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="pt40 text-center">{{whoWeAre[1].title}}</h2>
      <div class="text-container">
        <div class="row center-margin">
          <div class="display-inline text-center">
            <img  ng-src="images/{{whoWeAre[1].img}}" alt="Coffee-Love" />
          </div>
          <div class="display-inline text-center content-text">
            <p>
              {{whoWeAre[1].text}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="text-container odd">
        <h2 class="pt40 text-center">{{whoWeAre[2].title}}</h2>
        <div class="row center-margin">
          <div class="display-inline text-center content-text">
            <p>
              {{whoWeAre[2].text}}
            </p>
          </div>
          <div class="display-inline text-center">
            <img  ng-src="images/{{whoWeAre[2].img}}" alt="happy-face" />
          </div>
        </div>
      </div>
    </div>
    
</div>
